@model IEnumerable<ASP_OnlineShopConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="w3-agileits-pane">
    <div class="col-md-12 agile-info-stat">
        <div class="stats-info stats-last widget-shadow">
            <table class="table stats-table ">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Ngày nhập</th>
                        <th>Hình</th>
                        <th>Mô tả</th>
                        <th>Tình trạng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.MaSanPham</th>
                            <td>@item.TenSanPham</td>
                            <td>@item.GiaBan</td>
                            <td>@item.SoLuong</td>
                            <td>@item.NgayNhap</td>
                            <td>@item.HinhUrl</td>
                            <td>@item.MoTa</td>
                            @if(item.DaXoa == 1)
                            {
                                <td>Ngừng kinh doanh</td>
                            }else
                            {
                                <td>Đang kinh doanh</td>
                            }
                        </tr>
                    }
                    
                    @*<tr>
                        <th scope="row">2</th>
                        <td>Aliquam</td>
                        <td><span class="label label-warning">New</span></td>
                        <td><h5>35% <i class="fa fa-level-up"></i></h5></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lorem ipsum</td>
                        <td><span class="label label-danger">Overdue</span></td>
                        <td><h5 class="down">40% <i class="fa fa-level-down"></i></h5></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Aliquam</td>
                        <td><span class="label label-info">Out of stock</span></td>
                        <td><h5>100% <i class="fa fa-level-up"></i></h5></td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Lorem ipsum</td>
                        <td><span class="label label-success">In progress</span></td>
                        <td><h5 class="down">10% <i class="fa fa-level-down"></i></h5></td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Aliquam</td>
                        <td><span class="label label-warning">New</span></td>
                        <td><h5>38% <i class="fa fa-level-up"></i></h5></td>
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

